%Ui{'xmlns' => "http://www.blizzard.com/wow/ui/", 'xmlns:xsi' => "http://www.w3.org/2001/XMLSchema-instance", 'xsi:schemaLocation' => "http://www.blizzard.com/wow/ui/ ..\\FrameXML\\UI.xsd"}
  %Script{:file => "BidER.lua"}/
  
  %Frame{'name' => "BidERHoverFrame", 'toplevel' => "true", 'frameStrata' => "HIGH", 'hidden' => "true", 'parent' => "UIParent", 'enableMouse' => "true", 'movable' => "true"}
    %Backdrop{'bgFile' => "Interface\\DialogFrame\\UI-DialogBox-Background", 'edgeFile' => "Interface\\Tooltips\\UI-Tooltip-Border", 'tile' => "true"}
      %BackgroundInsets
        %AbsInset{'left' => "5", 'right' => "5", 'top' => "5", 'bottom' => "5"}/
      %TileSize
        %AbsValue{'val' => "16"}/
      %EdgeSize
        %AbsValue{'val' => "16"}/
    %Size
      %AbsDimension{'x' => "230", 'y' => "335"}/
    %Anchors
      %Anchor{'point' => "CENTER", 'relativePoint' => "CENTER", 'relativeTo' => "$parent"}/
    %Layers
      %Layer{'level' => "BACKGROUND"}
        %FontString{'name' => "BidERTitleText", 'text' => "BidER", 'inherits' => "GameFontGreen", 'justifyH' => "CENTER", 'justifyV' => "TOP"}
          %Anchors
            %Anchor{'point' => "TOP", 'relativePoint' => "TOP", 'relativeTo' => "$parent"}
              %Offset
                %AbsDimension{'x' => "0", 'y' => "-10"}/
        %FontString{'name' => "BidERItemText", 'text' => "Item name here", 'inherits' => "GameFontNormal", 'justifyH' => "CENTER", 'justifyV' => "TOP"}
          %Anchors
            %Anchor{'point' => "TOP", 'relativePoint' => "BOTTOM", 'relativeTo' => "BidERTitleText"}
              %Offset
                %AbsDimension{'x' => "0", 'y' => "-3"}/
        %FontString{'name' => "BidERStatusText", 'text' => "Status", 'inherits' => "GameFontNormal", 'justifyH' => "CENTER", 'justifyV' => "TOP"}
          %Anchors>
            %Anchor{'point' => "TOP", 'relativePoint' => "BOTTOM", 'relativeTo' => "BidERItemText"}
              %Offset
                %AbsDimension{'x' => "0", 'y' => "-3"}/
    %Frames
      <!-- top buttons -->
      %Button{'name' => "BidERCloseButton", 'inherits' => "UIPanelCloseButton"}
        %Anchors
          %Anchor{'point' => "TOPRIGHT", 'relativePoint' => "TOPRIGHT", 'relativeTo' => "$parent"}
            %Offset
              %AbsDimension{'x' => "0", 'y' => "0"}/
        %Scripts
          %OnClick BidER_Event("Close");
      %Button{'name' => "BidERPickItemButton", 'inherits' => "UIPanelButtonTemplate", 'text' => "Pick Item(s) to Auction"}
        %Anchors
          %Anchor{'point' => "TOPRIGHT", 'relativePoint' => "BOTTOMRIGHT", 'relativeTo' => "BidERCloseButton"}
            %Offset
              %AbsDimension{'x' => "-5", 'y' => "-22"}/
        %Size
          %AbsDimension{'x' => "220", 'y' => "25"}/
        %Scripts
          %OnClick BidER_Event("PickItem")
      %Button{'name' => "BidERStartAuctionButton", 'inherits' => "UIPanelButtonTemplate", 'text' => "Start and Announce Auction"}
        %Anchors
          %Anchor{'point' => "TOP", 'relativePoint' => "BOTTOM", 'relativeTo' => "BidERPickItemButton"}
            %Offset
              %AbsDimension{'x' => "0", 'y' => "0"}/
        %Size
          %AbsDimension{'x' => "220", 'y' => "25"}/
        %Scripts
          %OnClick BidER_Event("StartAuction");
      
      <!-- bottom buttons -->
      %Button{'name' => "BidEREditBidsButton", 'inherits' => "UIPanelButtonTemplate", 'text' => "Edit Bids"}
        %Anchors
          %Anchor{'point' => "BOTTOMRIGHT", 'relativePoint' => "BOTTOMRIGHT", 'relativeTo' => "$parent"}
            %Offset
              %AbsDimension{'x' => "-5", 'y' => "5"}/
        %Size
          %AbsDimension{'x' => "220", 'y' => "25"}/
        %Scripts
          %OnClick BidER_Event("EditBids");
      %Button{'name' => "BidEREndAuctionButton", 'inherits' => "UIPanelButtonTemplate", 'text' => "End Auction, Announce Winner"}
        %Anchors
          %Anchor{'point' => "BOTTOM", 'relativePoint' => "TOP", 'relativeTo' => "BidEREditBidsButton"}
            %Offset
              %AbsDimension{'x' => "0", 'y' => "0"}/
        %Size
          %AbsDimension{'x' => "220", 'y' => "25"}/
        %Scripts
          %OnClick BidER_Event("EndAuction");
      %Button{'name' => "BidERWarnEndingButton", 'inherits' => "UIPanelButtonTemplate", 'text' => "Warn: Auction Ending Soon"}
        %Anchors
          %Anchor{'point' => "BOTTOM", 'relativePoint' => "TOP", 'relativeTo' => "BidEREndAuctionButton"}
            %Offset
              %AbsDimension{'x' => "0", 'y' => "0"}/
        %Size
          %AbsDimension{'x' => "220", 'y' => "25"}/
        %Scripts
          %OnClick BidER_Event("WarnEnding");
      %Button{'name' => "BidERSayBidsButton", 'inherits' => "UIPanelButtonTemplate", 'text' => "Announce Current Bid Level"}
        %Anchors
          %Anchor{'point' => "BOTTOM", 'relativePoint' => "TOP", 'relativeTo' => "BidERWarnEndingButton"}
            %Offset
              %AbsDimension{'x' => "0", 'y' => "0"}/
        %Size
          %AbsDimension{'x' => "220", 'y' => "25"}/
        %Scripts
          %OnClick BidER_Event("SayBids");
      
      <!-- scroll frame -->
      %ScrollFrame{'name' => "BidERScrollFrame", 'inherits' => "UIPanelScrollFrameTemplate"}
        %Anchors
          %Anchor{'point' => "TOPLEFT", 'relativePoint' => "BOTTOMLEFT", 'relativeTo' => "BidERStartAuctionButton"}
            %Offset
              %AbsDimension{'x' => "8", 'y' => "0"}/
          %Anchor{'point' => "BOTTOMRIGHT", 'relativePoint' => "TOPRIGHT", 'relativeTo' => "BidERSayBidsButton"}
            %Offset
              %AbsDimension{'x' => "-25", 'y' => "0"}/
        %ScrollChild
          %Frame{'name' => "BidERScrollChild"}
            %Size
              %AbsDimension{'x' => "30", 'y' => "30"}/

    %Scripts
      %OnLoad
        BidER_Event("OnLoad");
        this:RegisterForDrag("LeftButton");
      %OnDragStart this:StartMoving();
      %OnDragStop this:StopMovingOrSizing();
  
  %Frame{'name' => "BidERPickItemFrame", 'toplevel' => "true", 'frameStrata' => "HIGH", 'hidden' => "true", 'parent' => "UIParent", 'enableMouse' => "true", 'movable' => "true"}
    %Size
      %AbsDimension{'x' => "400", 'y' => "120"}/
    %Anchors
      %Anchor{'point' => "CENTER", 'relativePoint' => "CENTER", 'relativeTo' => "$parent"}/
    %Backdrop{'bgFile' => "Interface\\DialogFrame\\UI-DialogBox-Background", 'edgeFile' => "Interface\\Tooltips\\UI-Tooltip-Border", 'tile' => "true"}
      %BackgroundInsets
        %AbsInset{'left' => "5", 'right' => "5", 'top' => "5", 'bottom' => "5"}/
      %TileSize
        %AbsValue{'val' => "16"}/
      %EdgeSize
        %AbsValue{'val' => "16"}/
    %Layers
      %Layer{'level' => "ARTWORK"}
        %FontString{'Name' => "$parentText", 'inherits' => "GameFontNormal", 'text' => "Shift-click the item link from chat:"}
          %Anchors
            %Anchor{'point' => "TOP", 'relativeTo' => "$parent", 'relativePoint' => "TOP"}
              %Offset
                %AbsDimension{'x' => "0", 'y' => "-10"}/
        %FontString{'Name' => "$parentText2", 'inherits' => "GameFontNormal", 'text' => "Number to auction:"}
          %Anchors
            %Anchor{'point' => "TOPLEFT", 'relativeTo' => "$parentText", 'relativePoint' => "BOTTOMLEFT"}
              %Offset
                %AbsDimension{'x' => "0", 'y' => "-50"}/
    %Frames
      %EditBox{'name' => "$parentEditBox", 'autoFocus' => "true", 'historyLines' => "32"}
        %Size
          %AbsDimension{'x' => "300", 'y' => "40"}/
        %Anchors
          %Anchor{'point' => "TOP", 'relativeTo' => "$parentText", 'relativePoint' => "BOTTOM"}
            %Offset
              %AbsDimension{'x' => "0", 'y' => "-3"}/
        %Backdrop{'bgFile' => "Interface\\DialogFrame\\UI-DialogBox-Background", 'edgeFile' => "Interface\\DialogFrame\\UI-DialogBox-Border", 'tile' => "true"}
          %BackgroundInsets
            %AbsInset{'left' => "11", 'right' => "12", 'top' => "12", 'bottom' => "11"}/  
            %Size
              %AbsDimension{'x' => "128", 'y' => "17"}/
          %TileSize
            %AbsValue{'val' => "32"}/
          %EdgeSize
            %AbsValue{'val' => "32"}/
        %Scripts
          %OnLoad this:SetTextInsets(13, 13, 0, 0)
          %OnEnterPressed BidER_Event("PickItemOkay");
          %OnEscapePressed
            == --this:ClearFocus();
            BidER_Event("PickItemCancel");
          %OnEnter
            GameTooltip:SetOwner(this, "ANCHOR_LEFT");
            GameTooltip:SetBackdropColor(0.0, 0.0, 0.0);
            GameTooltip:SetText("Shift-click the item link from chat, for the item you want to auction.", 1.0, 1.0, 1.0);
          %OnLeave
            GameTooltip:Hide();
          %OnTabPressed
            BidERPickItemFrameEditBox2:SetFocus();
            BidERPickItemFrameEditBox2:HighlightText(0);
        %FontString{'inherits' => "ChatFontNormal", 'bytes' => "256"}/
      %EditBox{'name' => "$parentEditBox2", 'autoFocus' => "false", 'historyLines' => "32"}
        %Size
          %AbsDimension{'x' => "80", 'y' => "40"}/
        %Anchors
          %Anchor{'point' => "TOPRIGHT", 'relativeTo' => "$parentEditBox", 'relativePoint' => "BOTTOMRIGHT"}
            %Offset
              %AbsDimension{'x' => "-50", 'y' => "3"}/
        %Backdrop{'bgFile' => "Interface\\DialogFrame\\UI-DialogBox-Background", 'edgeFile' => "Interface\\DialogFrame\\UI-DialogBox-Border", 'tile' => "true"}
          %BackgroundInsets
            %AbsInset{'left' => "11", 'right' => "12", 'top' => "12", 'bottom' => "11"}/  
            %Size
              %AbsDimension{'x' => "128", 'y' => "17"}/
          %TileSize
            %AbsValue{'val' => "32"}/
          %EdgeSize
            %AbsValue{'val' => "32"}/
        %Scripts
          %OnLoad
            this:SetTextInsets(13, 13, 0, 0)
          %OnEnterPressed
            BidER_Event("PickItemOkay");
          %OnEscapePressed
            == --this:ClearFocus();
            BidER_Event("PickItemCancel");
          %OnEnter
            GameTooltip:SetOwner(this, "ANCHOR_LEFT");
            GameTooltip:SetBackdropColor(0.0, 0.0, 0.0);
            GameTooltip:SetText("Enter how many copies of the item you are auctioning at once.", 1.0, 1.0, 1.0);
          %OnLeave
            GameTooltip:Hide();
          %OnTabPressed
            BidERPickItemFrameEditBox:SetFocus();
            BidERPickItemFrameEditBox:HighlightText(0);
        %FontString{'inherits' => "ChatFontNormal", 'bytes' => "256"}/
      %Button{'name' => "$parentOkay", 'inherits' => "OptionsButtonTemplate", 'text' => "Okay"}
        %Size
          %AbsDimension{'x' => "150", 'y' => "25"}/
        %Anchors
          %Anchor{'point' => "BOTTOMLEFT", 'relativePoint' => "BOTTOMLEFT", 'relativeTo' => "$parent"}
            %Offset
              %AbsDimension{'x' => "30", 'y' => "-5"}/
        %Scripts
          %OnClick
            BidER_Event("PickItemOkay");
      %Button{'name' => "$parentCancel", 'inherits' => "OptionsButtonTemplate", 'text' => "Cancel"}
        %Size
          %AbsDimension{'x' => "150", 'y' => "25"}/
        %Anchors
          %Anchor{'point' => "BOTTOMRIGHT", 'relativePoint' => "BOTTOMRIGHT", 'relativeTo' => "$parent"}
            %Offset
              %AbsDimension{'x' => "-30", 'y' => "-5"}/
        %Scripts
          %OnClick
            BidER_Event("PickItemCancel");
  
  %Frame{'name' => "BidEREditBidsFrame", 'toplevel' => "true", 'frameStrata' => "HIGH", 'hidden' => "true", 'parent' => "UIParent", 'enableMouse' => "true", 'movable' => "true"}
    %Size
      %AbsDimension{'x' => "400", 'y' => "140"}/
    %Anchors
      %Anchor{'point' => "CENTER", 'relativePoint' => "CENTER", 'relativeTo' => "$parent"}/
    %Backdrop{'bgFile' => "Interface\\DialogFrame\\UI-DialogBox-Background", 'edgeFile' => "Interface\\Tooltips\\UI-Tooltip-Border", 'tile' => "true"}
      %BackgroundInsets
        %AbsInset{'left' => "5", 'right' => "5", 'top' => "5", 'bottom' => "5"}/
      %TileSize
        %AbsValue{'val' => "16"}/
      %EdgeSize
        %AbsValue{'val' => "16"}/
    %Layers
      %Layer{'level' => "ARTWORK"}
        %FontString{'Name' => "$parentText1", 'inherits' => "GameFontNormal", 'text' => "Enter an edit command, following these examples:"}
          %Anchors
            %Anchor{'point' => "TOP", 'relativeTo' => "$parent", 'relativePoint' => "TOP"}
              %Offset
                %AbsDimension{'x' => "0", 'y' => "-10"}/
        %FontString{'Name' => "$parentText2", 'inherits' => "GameFontWhite", 'text' => "add Joeplayer 3"}
          %Anchors
            %Anchor{'point' => "TOP", 'relativeTo' => "$parentText1", 'relativePoint' => "BOTTOM"}
              %Offset
                %AbsDimension{'x' => "0", 'y' => "-3"}/
        %FontString{'Name' => "$parentText3", 'inherits' => "GameFontWhite", 'text' => "change Joeplayer 2"}
          %Anchors
            %Anchor{'point' => "TOP", 'relativeTo' => "$parentText2", 'relativePoint' => "BOTTOM"}
              %Offset
                %AbsDimension{'x' => "0", 'y' => "-3"}/
        %FontString{'Name' => "$parentText4", 'inherits' => "GameFontWhite", 'text' => "delete Joeplayer"}
          %Anchors
            %Anchor{'point' => "TOP", 'relativeTo' => "$parentText3", 'relativePoint' => "BOTTOM"}
              %Offset
                %AbsDimension{'x' => "0", 'y' => "-3"}/
    %Frames
      %EditBox{'name' => "$parentEditBox", 'autoFocus' => "true", 'historyLines' => "32"}
        %Size
          %AbsDimension{'x' => "300", 'y' => "40"}/
        %Anchors
          %Anchor{'point' => "TOP", 'relativeTo' => "$parentText4", 'relativePoint' => "BOTTOM"}
            %Offset
              %AbsDimension{'x' => "0", 'y' => "-5"}/
        %Backdrop{'bgFile' => "Interface\\DialogFrame\\UI-DialogBox-Background", 'edgeFile' => "Interface\\DialogFrame\\UI-DialogBox-Border", 'tile' => "true"}
          %BackgroundInsets
            %AbsInset{'left' => "11", 'right' => "12", 'top' => "12", 'bottom' => "11"}/  
            %Size
              %AbsDimension{'x' => "128", 'y' => "17"}/
          %TileSize
            %AbsValue{'val' => "32"}/
          %EdgeSize
            %AbsValue{'val' => "32"}/
        %Scripts
          %OnLoad
            this:SetTextInsets(13, 13, 0, 0)
          %OnEnterPressed
            BidER_Event("EditBidsOkay");
          %OnEscapePressed
            == --this:ClearFocus();
            BidER_Event("EditBidsCancel");
          %OnEnter
            GameTooltip:SetOwner(this, "ANCHOR_LEFT");
            GameTooltip:SetBackdropColor(0.0, 0.0, 0.0);
            GameTooltip:SetText("Enter your desired edit command, following the examples.", 1.0, 1.0, 1.0);
          %OnLeave
            GameTooltip:Hide();
        %FontString{'inherits' => "ChatFontNormal", 'bytes' => "256"}/
      %Button{'name' => "$parentOkay", 'inherits' => "OptionsButtonTemplate", 'text' => "Okay"}
        %Size
          %AbsDimension{'x' => "150", 'y' => "25"}/
        %Anchors
          %Anchor{'point' => "BOTTOMLEFT", 'relativePoint' => "BOTTOMLEFT", 'relativeTo' => "$parent"}
            %Offset
              %AbsDimension{'x' => "30", 'y' => "-5"}/
        %Scripts
          %OnClick BidER_Event("EditBidsOkay");
      %Button{'name' => "$parentCancel", 'inherits' => "OptionsButtonTemplate", 'text' => "Cancel"}
        %Size
          %AbsDimension{'x' => "150", 'y' => "25"}/
        %Anchors
          %Anchor{'point' => "BOTTOMRIGHT", 'relativePoint' => "BOTTOMRIGHT", 'relativeTo' => "$parent"}
            %Offset
              %AbsDimension{'x' => "-30", 'y' => "-5"}/
        %Scripts
          %OnClick BidER_Event("EditBidsCancel");
